@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
	margin: 0;
	padding: 0;
	
}

.website-two {
	color: #A3A3A3;
	font-family: 'Roboto Mono', monospace;
}

.fixed {
	background-image: url(./images/bg-2.jpg);
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	width: calc(20vw + 150px);
}

.scroll {
	margin-left: calc(20vw + 150px);
}

.profile-two {
	width: calc(250px + 5vw);
	height: calc(12vw + 200px);
	color:white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.profile-two img {
	width: calc(140px + 2vw);
	border-radius: 50%;
	margin-bottom: 30px;
}

.profile-two-title {
	font-size: calc(1vw + 15px);
}

.profile-two-content {
	font-size: calc(.7vw + 10px);
	margin-bottom: 30px;
}

.links-two ul {
	display: flex;
}

.links-two ul li {
	margin-left: 15px;
}

.links-two ul li:hover {
	color: #D26D3E;
}


.intro-two {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 5vw;
}

.intro-two-box {
	height: calc(12vw + 200px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

}

.intro-two-title {
	font-size: calc(1.8vw + 20px);
	color: #777777;
}

.content-two {
	font-size: calc(.5vw + 12px);
	text-align: justify;
}

.intro-two button {
	align-self: flex-start;
}

.page-two {
	padding: 40px 5vw;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.title-two {
  font-size: calc(3vw + 30px);
  color: #777777;
  text-align: left;
}

.portfolio-grid-two {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px 50px;
  justify-items:center;
}

.skills-grid-two {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 50px 6px;
  grid-template-rows: auto;

}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill svg {
  width: 80%;
}



.contact-title-two {
  font-size: calc(3vw + 30px);
  color: #777777;
}

.change-style {
  font-size: calc(1vw + 10px);
}

.change-style button {
  margin-top: 15px;
}

.skills-title-two {
  font-size: calc(3vw + 30px);
}

.footer-two {
  margin-left: calc(20vw + 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(1vw + 30px);
  color: white;
  background-color: #777777;
}

@media only screen and (max-width: 800px) {
	.fixed {
		height: 100vh;
		position: relative;
		width: 100vw;

	}

	.profile-two {
		height: auto;
	}

	.scroll {
		margin: 0 30px;
	}

	.profile-two {
		align-items: center;
	}

	.intro-two {
		height: auto;
	}

	.intro-two-box {
		margin: 40px 0;
		height: 450px;
	}

	.footer-two {
  		margin-left: 0;
	}
}